body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

.barchart {
  font-size: 10px;

  td {
    vertical-align: bottom;
    width: 50px;
  }

  .bar {
    position: relative;
    width: 100%;
  }

  .increase { background-color: red; }
  .total { background-color: green; }
}

.bracket {
  float: left;
  img {
    max-width: 100px;
    max-height: 100px;
  }
}