<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      var data = <%=JSON.stringify(data)%>;
    </script>
  </head>
  <body>
  </body>
</html>
